body{
	margin: 0 auto;
	padding: 0;
	background: #EAE9E4 url('../images/bgPlaya.jpg') no-repeat top;
}

#wrapperMain{
	margin: 0 auto; /*Define márgenes de un elemento*/
	width: 1000px;
	height: 435px;
	background-color: gray;
	position: relative;
}

#tituloPrincipal{
	width: 300px;
	height: 140px;
	background-color: #fff;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 40px;
	border-radius: 0px 0px 10px 10px;
}

/*------ ESTILOS AUXILIARES -----*/

.hidden{
	visibility: hidden;
}