body{
	margin: 0 auto;
	padding: 0;
	background: #EAE9E4 url('../images/bgPlaya.jpg') no-repeat top;
}

#wrapperMain{
	margin: 0 auto; /*Define márgenes de un elemento*/
	width: 1000px;
	height: 435px;
	background-color: white;
}