@import url('https://fonts.googleapis.com/css?family=Caveat|Open+Sans:300,400,400i,600,700');

body{
	margin: 0 auto;
	padding: 0;
	background: #EAE9E4 url('../images/bgPlaya.jpg') no-repeat top;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#wrapperMain{
	margin: 0 auto; /*Define márgenes de un elemento*/
	width: 1000px;
}

#header{
	height: 530px;
	position: relative;
}

#tituloPrincipal{
	width: 300px;
	height: 140px;
	background-color: #fff;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 40px;
	border-radius: 0px 0px 7px 7px;
	box-shadow: 10px 10px 26px 2px rgba(0,0,0,0.3);
	z-index: 1; /*Solo sirve para elementos posicionados absolutamente*/
}

#redesSociales{
	width: 540px;
	height: 35px;
	background-color: #fff;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0px 0px 7px 7px;
}

.bannerImage{
	border-radius: 7px;
	border: solid 13px #fff;
	position: absolute;
	top: 40px;
	left: 0px;
}

#slogan{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 25px;
}

.sloganAzul{
	letter-spacing: -1px;
	color: #036AA5;
}

.sloganNaranja{
	font-family: 'Caveat', tahoma, sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	color: #F58D1A;
}

#wrapperContent{
	background-color: #fff;
	border-radius: 7px;
}

#contenido{
	width: 700px;
	float: left;
}

#sidebar{
	width: 300px;
	float: right; /* Puede ser también left */
}

/*------ ESTILOS AUXILIARES -----*/

.hidden{
	visibility: hidden;
}

.marginReset{
	margin: 0;
	padding: 0;
}

.txtLight{ font-weight: 300; }
.txtSemiBold{ font-weight: 600; }
.txtBold{ font-weight: 700; }